<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <icon>   
   <small-icon>/favicon.ico</small-icon> 
   <large-icon>/favicon.ico</large-icon> 
   </icon>
    <!-- 404 页面不存在错误 -->  
	<error-page>  
	<error-code>404</error-code>  
	<location>/404.jsp</location>  
	</error-page>  
	<!-- 500 服务器内部错误 -->  
	<error-page>  
	<error-code>500</error-code>  
	<location>/500.jsp</location>  
	</error-page> 
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 
<!--  -->
  <filter>
  <filter-name>IllegalCharacterFilter</filter-name>
  <filter-class>
   com.secpro.platform.monitoring.manage.servlet.KzFilter
  </filter-class>
 </filter>
 <filter-mapping>
  <filter-name>IllegalCharacterFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 
  <filter>
  <filter-name>completeCheck</filter-name>
  <filter-class>
   com.secpro.platform.monitoring.manage.servlet.CompleteCheckFilter
  </filter-class>
 </filter>
 <filter-mapping>
  <filter-name>completeCheck</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 
 
  <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.secpro.platform.monitoring.manage.servlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/*</url-pattern>
 </filter-mapping>


	
<!-- 
	<filter>
		<filter-name>StrutsCleanUpFilter</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StrutsCleanUpFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	<filter> 
   		<filter-name>StrutsPrepareFilter</filter-name> 
  		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class> 
	</filter>
	<filter-mapping>
		<filter-name>StrutsPrepareFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>config-core</param-name>
			<param-value>WEB-INF/dwr-core.xml</param-value>
		</init-param>
		<init-param>
			<param-name>activeReverseAjaxEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>initApplicationScopeCreatorsAtStartup</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>maxWaitAfterWrite</param-name>
			<param-value>500</param-value>
		</init-param>
		 <init-param>   
            <param-name>crossDomainSessionSecurity</param-name>   
            <param-value>false</param-value>   
    	</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>struts-default.xml,struts-plugin.xml,struts.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
   	 <listener-class>com.secpro.platform.monitoring.manage.servlet.MySessionListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>openSessionInView</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>sessionFactory</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>openSessionInView</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>TopologyServlet</servlet-name>
		<servlet-class>com.secpro.platform.monitoring.manage.topology.servlet.TopologyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TopologyServlet</servlet-name>
		<url-pattern>/topology/topologyservlet</url-pattern>
	</servlet-mapping>
	<session-config>
        <session-timeout>2</session-timeout>
       	<cookie-config>
 
    <http-only>true</http-only>
    
 	<secure>true</secure>
   
 
  </cookie-config>
    </session-config>
</web-app>
