body,#center_box,#form_box,#user,#password {
    margin: 0;
    padding: 0;
}
body{
	background-color:#cccccc;
	text-align: center;
}
#center_box{
	
	margin:40px auto;
	background:url("../images/loginS.png") no-repeat scroll 0 0;
	width:820px;
	height:520px;
	font: 12px/1.5 'ו';
	position:relative;
}
#mess{
	position:absolute;
	top:220px;
	left:135px;
}
#user{
	position:absolute;
	top:250px;
	left:135px;
	
}
#password{
	position:absolute;
	top:280px;
	left:135px;
	
}
.input_text{
	width:160px;
}
.butt{
	height:25px;
	line-height:25px;
	
}